.over {
	border: 3px dashed #000;
	color:red;
}

#list-group-svg {
	min-height: 400px;
}

canvas {
/*	width: 100%; 
  height: 100%;*/
  /*border: 1px solid black;*/
}

.container-full {
	margin: 0 auto;
	width: 90%;
}

svg {
	/*background-color: gray;*/
}

.viscontainer {
	min-height:350px;
	min-width: 900px;
}

.viscontainer div.panel-heading{
	cursor: move;
}

*[draggable=true] {
	-moz-user-select:none;
	-khtml-user-drag: element;
	cursor: move;
}

/* Remove-Button of every Vis-Element */
.remove {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	cursor: pointer;
	opacity: .3;
}

.remove:hover{
	opacity: .8;
}

/* Bar Chart */
.bar {
	/*fill: steelblue;*/
	fill: #E0E0E0;
}

.bar:hover {
	/*fill: brown;*/
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}