/* http://plnkr.co/edit/GGQLn519tPCrqjwHER4W?p=preview 
https://stackoverflow.com/questions/19041801/bootstrap-3-0-sliding-menu-from-left
*/

/* Treeview
-------------------------------------------------- */
.treeview-node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

/* Slide Panel
-------------------------------------------------- */

.navbar{
	overflow:scroll;
	height:1%;
}

#collapse-navbar {
	float:right;
}

#slide-panel {
    width:600px;
    float: right;
    height:600px;
    padding:10px;
    /*background:#eee;*/
    margin-right:-600px;
}
#slide-panel-bottom {
    width:600px;
    float: right;
    height:600px;
    padding:10px;
    /*background:#eee;*/
    margin-right:-600px;
}
#opener-bottom {
    float:bottom;
    margin:0px 0px 0px 0px;
    border-radius:0;
}

#opener {
    float:left;
    margin:-10px 0px 0px -120px;
    border-radius:0;
}
/* / Slide Panel
-------------------------------------------------- */

#pivotTable .node {
	border: solid 1px white;
	font: 10px sans-serif;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	text-indent: 2px;
}

.over {
	border: 3px dashed #000;
	/*color:red;*/
}

#list-group-svg {
	min-height: 400px;
}

#statistic {
	overflow:auto;
}

#sidebar-container {
	overflow:scroll;
	max-height: 830px;
}

#canvas {
/*	width: 100%; 
  height: 100%;*/
  /*border: 1px solid black;*/
  overflow:scroll;
  /*position:absolute;*/
  /*min-height:1000px;*/
  min-height:2000px;
  /*max-height:1000px;*/
}

.well{
	/*max-height:1000px;*/
	max-height:830px;
	overflow-y: scroll;
  overflow-x: scroll;
}

.container-full {
	margin: 0 auto;
	width: 90%;
}

svg {
	/*background-color: gray;*/
}

.viscontainer {
	/*min-height:350px;*/
	min-height:300px;
	min-width: 800px;
}

.viscontainer div.panel-heading{
	cursor: move;
}

*[draggable=true] {
	-moz-user-select:none;
	-khtml-user-drag: element;
	cursor: move;
}

/* Remove-Button of every Vis-Element */
.remove {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	cursor: pointer;
	opacity: .3;
}

.remove:hover{
	opacity: .8;
}

/* Bar Chart */
.bar {
	/*fill: steelblue;*/
	fill: #E0E0E0;
}

.bar:hover {
	/*fill: brown;*/
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/*.x.axis path {
	display: none;
}*/